<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <!-- Bootstrap CSS CDN -->
    <link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Link to your custom CSS file -->
    <link rel="stylesheet" href="/about.css" />
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>

    <div class="section">
      <div class="heading">
        ABOUT US

      </div>
      <div class="content-section">
        <div class="content-heading">
          <!-- Heading content -->
        </div>
        <div class="content-body">
          <div class="content-text">
            <p>
                We are a team of professional contract killers with multi-national affiliate Gang groups (Black Guerilla Family, Nuestra Familia, Ñeta Association, Nazi Lowriders, Aryan Brotherhood, Mexican Mafia, Brödraskapet gang, Kray twins, Richardson gang) and we have professional assassins for hire who kill based on your specification. We are one of the most famous Russian assassins and Russian assassin group which have been in dark web for over 25 years offering contract killer jobs. 

                We provide maximum security to our clients with both side highly encrypted. Our assassins for hire are very skilled with our many years of experience and perfection we assure all our clients of 100% safety and clean jobs without any trace backs. Feel free to contact us without any fear. Also, Your satisfaction is our main priority.
                
                We are also affiliated with several Russian hackers and programmers which specialize in (Cracking and collecting important information from electronic devices such as Phones, Camera, Cars, etc). Therefore,  Making our hit 100% safe and secured at any level. If you are also seeking for bank hacking activities, atm hacking, bitcoin hacking and western union hacking, they are the best team to give you what you want and make you wealthy.
                
                We implore the use of latest technology as IT Engineers (that help to communicate with the assassin during his operation) to aid us with accuracy and assassinate who ever is involved no matter their status in the society. We have well design anonymouse different car types with strong electronic devices and softwares for communication between our programmers and assassins, with us be rest assured that we will definitely deliver.
            </p>
          </div>
          <div class="content-images">
            <img src="/images/ass-pic.jpeg" alt="Image rating"/>

            <img src="/images/ass-pic 3.png" alt="Image rating" /><br>


          </div>
        </div>
      </div>
    </div>

    <footer><%- include('./partials/footer'); %></footer>

    <!-- Remaining sections... -->

    <!-- Bootstrap JS CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
