<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Bootstrap CSS CDN -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Link to your custom CSS file -->
    <link rel="stylesheet" href="contact.css" />
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>

    <div class="section">
      <div class="heading">CONTACT US</div>
      <div class="content-section">
        <div class="content-heading">
          <!-- Heading content -->
        </div>
        <div class="content-body">
          <div class="content-text">
            <p>
              We use secured means to communicate with clients interested in our
              services and all our conversations are encrypted here you can
              contact us through these handles below, PROTON MAIL, TELEGRAM. These
              2 messengers and encrypted and safe on both user.
            </p>
          </div>
          <a href="https://t.me/+15302825967" target="_blank" class="social-icon" style="color:rgb(249, 249, 249); text-decoration: none; font-size: 20px; text-align: center; border:1px solid black; background-color: rgb(13, 60, 104);padding:7px; border-radius: 13px; margin-bottom: 7px;">
            Send message on telegram
          </a><br>
          <div class="content-images">
            <strong><h1 style="color: rgb(20, 12, 8);">Send message to -    hitmalemail@proton.me</h1></strong>
            <img src="/images/ass-pic4.jpg" alt="Image rating" /><br /><br />

            <img src="/images/ass-pic 3.png" alt="Image rating" />
          </div>
        </div>
        <strong><h1 style="color: rgb(69, 69, 18);">Send message to -    hitmalemail@proton.me</h1></strong>
        
        <a href="https://t.me/+15302825967" target="_blank" class="social-icon" style="color:rgb(249, 249, 249); text-decoration: none; font-size: 20px; text-align: center; border:1px solid black; background-color: rgb(13, 60, 104);padding:7px; border-radius: 13px;">
          Send message on telegram
        </a>
      </div>
    </div>
    <footer><%- include('./partials/footer'); %></footer>

    <!-- Remaining sections... -->

    <!-- Bootstrap JS CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
